<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Channel University</title>

<meta name="DC.creator" content="Joey Pfeifer - http://www.joeypfeifer.com" />
<meta name="DC.language" content="en" />
<meta name="DC.publisher" content="Channel University - http://www.eescreencasts.com" />
<meta name="description" content="" /> 
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="shortcut icon" type="image/ico" href="favicon.ico" />

<link rel="stylesheet" href="/-/css/screen/main.css" type="text/css" media="screen, projection" />
<!--[if IE]>
<link rel="stylesheet" href="/-/css/screen/patches/win-ie-all.css" type="text/css" media="screen, projection" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" href="/-/css/screen/patches/win-ie7.css" type="text/css" media="screen, projection" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="/-/css/screen/patches/win-ie6-below.css" type="text/css" media="screen, projection" />
<![endif]-->

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
<script type="text/javascript" src="-/js/core.js"></script>

</head>